# This is Git's per-user configuration file.
[init]
    defaultBranch = main
[user]
    useConfigOnly = true
    name = Caleb Grant
    email = geocoug@gmail.com
    signingKey = 998748B6DFB3E489
[core]
    excludesfile = /Users/cgrant/.gitignore_global
    editor = vim
[commit]
    # template = /Users/cgrant/.stCommitMsg
    gpgsign = true
[gpg]
    program = /opt/homebrew/bin/gpg
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[credential]
    helper = osxkeychain
[fetch]
    prune = true
# Only set if large commit
# [http]
    # postBuffer = 157286400
[pull]
	ff = only
[safe]
	directory = /Users/cgrant/GitHub/geocoug/actions-runner/_work/self-hosted-runner-test/self-hosted-runner-test
	directory = /Users/cgrant/GitHub/geocoug/actions-runner/_work/self-hosted-runner-test/self-hosted-runner-test
	directory = /Users/cgrant/GitHub/geocoug/actions-runner/_work/self-hosted-runner-test/self-hosted-runner-test
	directory = /Users/cgrant/GitHub/geocoug/actions-runner/_work/self-hosted-runner-test/self-hosted-runner-test
